# App
APP_PORT=3000
TRUST_PROXY=false
ALLOWED_ORIGINS=http://localhost:

# Database
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:5432/DBNAME          # REQUIRED
DATABASE_SCHEMA=public                                                # REQUIRED

# AUTH : JWT env
JWT_SECRET=strong_key_for_signing_jwt                                 # REQUIRED
JWT_ACCESS_TOKEN_EXPIRATION_TIME=15m                                  #                   ms.StringValue
JWT_REFRESH_TOKEN_EXPIRATION_TIME=1w                                  #                   ms.StringValue




